<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/index.css">
  <meta charset="UTF-8">
  <title>Lexicon</title>
</head>
<body>
  <div class="container">
    <h1> LEXICON </h1>
    <a href="./html/kontaktformular.html">Kontakt</a>

    <h2> Am meisten angesehen </h2>
    <div class="articles">

      <% for(var i = 0; i < mostViewed.length; i++) { %>
        <a href="./plants/<%= mostViewed[i][0] %>" class="article">
          <img src="./plants/<%= mostViewed[i][0] %>/<%= mostViewed[i][0] %>.jpg">
          <p><%= mostViewed[i][0] %> (<%= mostViewed[i][1] %> mal aufgerufen)</p>
        </a>
      <% } %>

    </div>

    <h2>Einträge über Pflanzen:</h2>
    <div class="articles">
      <a href="./plants/estragon" class="article">
        <img src="./plants/estragon/estragon.jpg">
        <p>Estragon</p>
      </a>
      <a href="./plants/basilikum" class="article">
        <img src="./plants/basilikum/basilikum.jpg">
        <p>Basilikum</p>
      </a>
      <a href="./plants/tomate" class="article">
        <img src="./plants/tomate/tomate.jpg">
        <p>Tomate</p>
      </a>
      <a href="./plants/estragon" class="article">
        <img src="./plants/estragon/estragon.jpg">
        <p>Estragon</p>
      </a>
      <a href="./plants/basilikum" class="article">
        <img src="./plants/basilikum/basilikum.jpg">
        <p>Basilikum</p>
      </a>
      <a href="./plants/tomate" class="article">
        <img src="./plants/tomate/tomate.jpg">
        <p>Tomate</p>
      </a>
    </div>
  </div>
  
</body>
</html>